body {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  font-size: 18px;
  color: #333;
  background-color: grey;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

#header {
  height: 120px;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}
#header .container {
  width: 1800px;
  display: flex;
  justify-content: space-between;
}
#header .container #logo {
  height: 120px;
  display: flex;
  align-items: center;
}
#header .container #logo img {
  height: 50px;
}
#header .container #gnb .list {
  display: flex;
}
#header .container #gnb .list > li {
  color: white;
  position: relative;
}
#header .container #gnb .list > li:hover .depth02 {
  opacity: 1;
  pointer-events: auto;
}
#header .container #gnb .list > li:hover .depth01 {
  background-color: #3685c2;
}
#header .container #gnb .list > li:hover .depth01:after {
  transform: scaleX(1);
}
#header .container #gnb .list > li:hover .depth01:before {
  opacity: 1;
}
#header .container #gnb .list > li .depth01 {
  height: 120px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.25s ease;
  position: relative;
}
#header .container #gnb .list > li .depth01:after {
  content: " ";
  display: block;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 10px;
  right: 30px;
  left: 30px;
  transform: scaleX(0);
  transition: all 0.25s ease;
}
#header .container #gnb .list > li .depth01:before {
  content: "";
  display: block;
  height: 2px;
  background-color: #ffc240;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.25s ease;
}
#header .container #gnb .list > li .depth02 {
  position: absolute;
  pointer-events: none;
  background-color: #3685c2;
  width: 100%;
  padding: 20px 0;
  border-radius: 0 0 20px 20px;
  opacity: 0;
  transition: all 0.25s ease;
}
#header .container #gnb .list > li .depth02 li {
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  opacity: 0.6;
  transition: all 0.25s ease;
}
#header .container #gnb .list > li .depth02 li:hover {
  opacity: 1;
}
#header .container #util {
  height: 120px;
  display: flex;
  align-items: center;
}
#header .container #util .util-btn {
  position: relative;
  width: 200px;
}
#header .container #util .util-btn:hover button {
  background-color: #3685c2;
  color: white;
}
#header .container #util .util-btn:hover ul {
  opacity: 1;
  top: 50px;
  pointer-events: auto;
}
#header .container #util .util-btn button {
  width: 100%;
  padding: 10px 0;
  background-color: rgb(224, 224, 224);
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 18px;
  transition: all 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .container #util .util-btn button:before {
  content: "\e894";
  font-family: "Material Icons";
  margin-right: 20px;
  font-size: 30px;
}
#header .container #util .util-btn ul {
  width: 100%;
  color: #fff;
  position: absolute;
  background-color: #3685c2;
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  top: 0px;
  opacity: 0;
  transition: all 0.25s ease;
  pointer-events: none;
}
#header .container #util .util-btn ul li:hover a:after {
  transform: scaleX(1);
  pointer-events: auto;
}
#header .container #util .util-btn ul li a {
  display: block;
  padding: 10px 0;
  position: relative;
}
#header .container #util .util-btn ul li a:after {
  content: "";
  display: block;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 20px;
  left: 20px;
  transform: scaleX(0);
  transition: all 0.25s ease;
  pointer-events: none;
}
#header .container #util .material-icons {
  margin-left: 25px;
  font-size: 30px;
}