@import "vars";
@import "mixins";

#main-visual {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("../images/main/bg_main_visual.jpg");
  position: relative;
  .mask {
    position: absolute;
    bottom: 0;
    right: 0;
    height: calc(100% - 120px);
    width: 65%;
    ul {
      li {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100px 0 0 0;
      }
      .visual01 {
        background-image: url("../images/main/main_visual_img1.png");
      }
      .visual02 {
        background-image: url("../images/main/main_visual_img2.png");
      }
      .visual03 {
        background-image: url("../images/main/visual03.jpg");
      }
    }
  }
  .container {
    position: relative;
    height: 100%;
    .main-txt {
      width: 100%;
      color: white;
      position: absolute;
      z-index: 2;
      bottom: 100px;
      h2 {
        font-size: 62px;
        font-weight: 900;
        margin-bottom: 30px;
      }
      .pagination {
        .swiper-pagination-bullet {
          border-radius: 0;
          width: 50px;
          height: 3px;
          background-color: white;
          opacity: 1;
          &-active {
            background-color: $point-color;
          }
        }
      }
      .info-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      .txt {
        margin-top: 150px;
        width: 400px;
        word-break: keep-all;
        line-height: 1.5;
        h3 {
          font-size: $h3;
          font-weight: 500;
          border-bottom: 1px solid white;
          padding-bottom: 20px;
          margin-bottom: 20px;
        }
        ul {
          li {
            font-size: 16px;
          }
        }
      }
      .notice {
        .title {
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          margin-bottom: 10px;
          h3 {
            text-transform: uppercase;
          }
          span {
            &:hover {
              &:after {
                transform: rotate(180deg);
              }
            }
            &:after {
              content: "\f055";
              font-family: "FontAwesome";
              display: inline-block;
              margin-left: 10px;
              color: $main-color;
              transition: all 0.25s ease;
            }
          }
        }
        .notice-box {
          width: 700px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          background-color: white;
          color: #333;
          padding: 20px;
          .date {
            width: 80px;
            height: 80px;
            background-color: $point-color;
            @include flex;
            text-align: center;
            span {
              color: white;
              font-weight: 500;
              strong {
                font-size: 36px;
                font-weight: 700;
              }
            }
          }
          .notice-txt {
            width: calc(100% - 120px);
            padding: 0 20px;
            h3 {
              font-size: $h4;
              font-weight: 500;
              margin-bottom: 10px;
            }
            p {
              @include ellipsis;
            }
          }
        }
      }
    }
  }
}

.section {
  .txt-box {
    word-break: keep-all;
    h3 {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 20px;
      line-height: 1.2;
      strong {
        color: $main-color;
        font-weight: 700;
      }
    }
    p {
      line-height: 1.5;
    }
    .btns {
      color: rgb(168, 168, 168);
      width: 250px;
      margin: 50px 0;
      display: flex;
      justify-content: space-between;
      .btn:hover {
        color: $main-color;
      }
      span {
        font-size: 16px;
      }
      button {
        font-size: 18px;
        font-weight: 700;
        padding: 0;
      }
      .btn-prev {
        &:before {
          content: "\f060";
          font-family: "FontAwesome";
          display: inline-block;
          margin-right: 10px;
        }
      }
      .btn-next:after {
        content: "\f061";
        font-family: "FontAwesome";
        display: inline-block;
        margin-left: 10px;
      }
    }
    a {
      @include flex;
      height: 60px;
      width: 250px;
      border-radius: 5px;
      background-color: darken($main-color, 15);
      color: white;
      text-transform: uppercase;
      &:after {
        content: "\f101";
        font-family: "FontAwesome";
        margin-left: 30px;
      }
    }
  }
}
#research {
  padding: 200px 0;
  overflow: hidden;
  position: relative;
  &:before {
    content: " ";
    width: 750px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(244, 244, 244);
    border-radius: 0 0 200px 0;
  }
  .container {
    position: relative;
    .txt-box {
      width: 300px;
    }
  }
  .banner {
    .mask {
      position: absolute;
      top: 0;
      left: 350px;
      width: 100%;
      overflow: hidden;
      li {
        width: 400px;
        &:hover .research-txt h3 {
          border-color: $main-color;
        }
      }
      .img-box {
        width: 400px;
        height: 300px;
        @include flex;
        background-color: white;
        border: 1px solid rgb(200, 200, 200);
        img {
          height: 50px;
        }
      }
      .research-txt {
        margin-top: 20px;
        h3 {
          font-size: $h4;
          font-weight: 700;
          @include ellipsis;
          border-bottom: 1px solid rgb(200, 200, 200);
          margin-bottom: 20px;
          padding-bottom: 20px;
        }
        .date {
          display: flex;
          justify-content: space-between;
          color: grey;
          &:hover {
            span {
              &:last-child:after {
                transform: rotate(180deg);
              }
            }
          }
          span {
            &:last-child:after {
              content: "\f055";
              font-family: "FontAwesome";
              color: $main-color;
              display: inline-block;
              margin-left: 10px;
              font-size: 20px;
              transition: all 0.25s ease;
            }
          }
        }
      }
    }
  }
}

#fund {
  padding: 200px 0;
  .txt-box {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 3px solid #333;
  }
  .fund-news {
    li {
      padding: 30px;
      border-bottom: 1px solid grey;
      &.on {
        .news-box {
          display: flex;
        }
        .news {
          display: none;
        }
      }
      .news {
        display: flex;
        justify-content: space-between;

        h3 {
          font-weight: 500;
          display: flex;
          align-items: center;
          &:before {
            content: "";
            height: 5px;
            width: 5px;
            background-color: $main-color;
            display: block;
            margin-right: 10px;
          }
        }
        span {
          color: grey;
          &:before {
            content: "\f017";
            font-family: "FontAwesome";
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .news-box {
    display: none;
    justify-content: space-between;
    .contents-box {
      display: flex;
      align-items: center;
      .date {
        height: 100px;
        width: 100px;
        background-color: $main-color;
        border-radius: 5px;
        color: white;
        @include flex;
        text-align: center;
        strong {
          font-size: 40px;
          font-weight: 700;
        }
      }
      .contents {
        margin: 0 20px;
        h3 {
          font-size: $h4;
          font-weight: 700;
          margin-bottom: 10px;
        }
      }
    }
    img {
      width: 200px;
      height: 120px;
      object-fit: cover;
    }
  }
}

#about {
  padding-top: 200px;
  height: 60vh;
  background-image: url("../images/main/bg_main_about.jpg");
  background-size: cover;
  .container {
    color: white;
    display: flex;
    justify-content: space-between;
    .contents {
      width: 550px;
      span {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
      }
      h2 {
        font-size: 50px;
        font-weight: 900;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 30px 0;
        margin: 30px 0;
      }
      p {
        line-height: 1.5;
      }
    }
    .about-box {
      ul {
        display: flex;
        flex-wrap: wrap;
        width: 650px;
        li {
          width: calc(100% / 3 - 20px);
          margin: 10px;
          position: relative;
          &:before {
            content: "";
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            width: 100%;
            background-color: $point-color;
            height: 4px;
            transition: all 0.25s ease;
            opacity: 0;
          }
          &:hover {
            a {
              background-color: white;
              background-image: url("../images/main/bg_watermark.png");
              background-repeat: no-repeat;
              background-size: cover;
              color: $main-color;
            }
            &:before {
              opacity: 1;
            }
          }
          a {
            transition: all 0.25s ease;
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: 20px 30px;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.1);
            line-height: 1.5;
            font-weight: 500;
            position: relative;
            &:after {
              content: "\f055";
              font-family: "FontAwesome";
              display: block;
              position: absolute;
              bottom: 20px;
              right: 30px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

#department {
  padding: 150px 0;
  .department-box {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    .honours {
      width: calc(50% - 40px);
    }
    .info {
      display: flex;
      justify-content: space-between;
      border-bottom: 3px solid #333;
      padding-bottom: 20px;
      margin-bottom: 20px;
      h3 {
        font-size: $h3;
        font-weight: 700;
      }
      span {
        color: grey;
        &:after {
          content: "\f055";
          font-family: "FontAwesome";
          display: inline-block;
          color: $main-color;
          margin-left: 10px;
          font-size: 24px;
          transition: all 0.25s ease;
        }
        &:hover {
          color: $main-color;
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }
    .part {
      ul {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
      }
      li {
        width: calc(100% / 3 - 20px);
        box-sizing: border-box;
        border: 1px solid rgb(198, 198, 198);
        margin: 10px;
        padding: 30px 0;
        @include flex;
        text-align: center;
        &:hover {
          border-color: $main-color;
        }
        img {
          width: 100px;
          height: 100px;
        }
        h4 {
          margin-top: 20px;
        }
      }
    }
  }
}

#bk21 {
  padding: 150px 0;
  height: 45vh;
  background-repeat: no-repeat;
  background-image: url(../images/main/bg_main_community.jpg);
  background-size: cover;
  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    .txt-box {
      color: white;
      position: relative;
      h3 {
        strong {
          color: white;
        }
      }
      a {
        position: absolute;
        bottom: 80px;
        color: $main-color;
        background-color: white;
      }
      .control {
        display: flex;
        justify-content: center;
        align-items: center;
        .fraction-pagination {
          width: 100px;
        }
        .pagination {
          display: flex;
          align-items: center;
          .swiper-pagination-bullet {
            border-radius: 0;
            width: 50px;
            margin: 0;
            height: 5px;
            background-color: white;
          }
        }
      }
      .btns {
        width: 100px;
        margin: 40px 0;
        .btn-prev:before {
          content: "\f053";
          font-family: "FontAwesome";
          display: inline-block;
          margin-right: 10px;
        }
        .btn-next:after {
          content: "\f054";
          font-family: "FontAwesome";
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
    .bk21-banner {
      margin-top: -250px;
      overflow: hidden;
      width: 600px;
      height: 650px;
      border-radius: 50px;
      li {
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
    .bk21-list {
      position: absolute;
      z-index: 2;
      bottom: 80px;
      right: 35%;
      ul {
        li {
          background-color: darken($main-color, 20);
          color: white;
          width: 350px;
          padding: 20px 0;
          margin: 10px 0;
          box-sizing: border-box;
          border-left: 4px solid transparent;
          &:hover,
          &.on {
            border-color: $point-color;
            background-color: white;
            color: $main-color;
          }
          a {
            padding-left: 20px;
          }
        }
      }
    }
  }
}
#footer {
  background-color: #222;
  padding: 50px 0;
  .container {
    width: 1800px;
    color: white;
    .address-box {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding-bottom: 30px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .address {
        img {
          height: 40px;
        }
        address {
          margin-top: 20px;
          color: rgba(255, 255, 255, 0.3);
          line-height: 1.5;
          span {
            color: white;
          }
          .fax {
            margin-left: 20px;
          }
        }
      }
      .family-site {
        position: relative;
        button {
          font-size: 18px;
          text-transform: uppercase;
          height: 50px;
          padding: 0 50px;
          background-color: #444;
          color: #eee;
        }
        ul {
          position: absolute;
          z-index: 2;
          bottom: 50px;
          background-color: #555;
          width: 100%;
          padding: 20px 0;
          opacity: 0;
          &.on {
            opacity: 1;
          }
          a {
            display: block;
            padding: 10px 20px;
            font-size: 16px;
            color: #ccc;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .info {
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        li {
          margin-right: 20px;
        }
      }
      .copyright {
        color: grey;
      }
    }
  }
}

.TOPbtn {
  position: fixed;
  z-index: 2;
  bottom: -10px;
  right: 30px;
  height: 70px;
  width: 70px;
  background-color: $main-color;
  color: white;
  border-radius: 10px;
  transform: scale(0);
  transition: all 0.25s ease;
  &.on {
    transform: scale(1);
    bottom: 30px;
  }
  @include flex;
  button {
    i {
      font-size: 20px;
    }
  }
}
